<div class="address-component mx-5">
    <form>
       <div class="row ">
          <div class="col-md-4">
             <div class="md-form form-group">
                <input type="text" class="form-control" id="inputStreetNo" >
                <label for="inputStreetNo">Street No</label>
             </div>
          </div>
          <div class="col-md-8">
             <div class="md-form form-group">
                <input type="text" class="form-control" id="inputAddress" >
                <label for="inputAddress">Complete Street Name</label>
             </div>
          </div>
       </div>
       <div class="form-row">
          <div class="col-md-4">
             <div class="md-form form-group">
                <input type="text" class="form-control" id="inputState">
                <label for="inputState">State</label>
             </div>
          </div>
          <div class="col-md-3">
             <select  class="md-form form-group mx-1">
                <option selected>Select City</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
             </select>
          </div>
          <div class="col-md-5">
             <div class="md-form form-group ml-2">
                <input type="text" class="form-control" id="inputLandmark">
                <label for="inputLandmark">LandMark</label>
             </div>
          </div>
       </div>
       <div class="form-row">
          <div class="col-md-4">
             <div class="md-form form-group">
                <input type="text" class="form-control" id="inputZipMD">
                <label for="inputZipMD">Zip</label>
             </div>
          </div>
       </div>
    </form>
 </div>
 <div class="float-right mt-2 pt-5 mb-3">
    <button type="submit" class="btn btn-primary  waves-effect btn-md" routerLink="/prescription/find-medical-store">Next</button>
 </div>