<header>
      <div class="search-w-logo">
         <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
            <div class="container">
               <a class="navbar-brand" routerLink="/">Pharmacy</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse">
                  <form class="form-inline ml-auto" (ngSubmit)="onSearch()">
                     <div id="form-autocomplete ">
                        <input class="form-control search-bar" type="text" placeholder="Search for Prescription Medicines & OTC Products..." aria-label="Search" matInput [formControl]="myControl" [matAutocomplete]="auto">
                        <button class="btn aqua-gradient btn-rounded btn-sm my-0 btn-search-icon" type="submit">Search</button>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSearch()">
                           <mat-option *ngFor="let option of filteredOptions | async" [value]="option.product_title">
                             <span [innerHTML]="option.product_title | highlight: toHighlight"></span>
                           </mat-option>
                         </mat-autocomplete>
                     </div>
                  </form>
                  <ul class="navbar-nav ml-auto">
                     <li class="mx-3 mr-2">
                        <button class="btn peach-gradient btn-rounded btn-sm" [routerLink]="['/upload-prescription']"><i class="fa fa-upload mr-2"></i>Upload Prescription</button>
                     </li>
                     <li class="nav-item" *ngIf="!Login">
                        <a class="nav-link" [routerLink]="['/account/login']">Login & Signup<span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item dropdown" *ngIf="Login">
                        <a class="nav-link dropdown-toggle login-user-name" data-toggle="dropdown" href="javascript:void(0);" role="button" aria-haspopup="true" aria-expanded="false">{{getUser.name}}</a>
                        <div class="dropdown-menu">
                           <a class="dropdown-item" href="javascript:void(0);" (click)="googleSignout(getUser.error)">Sign out</a>
                        </div>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/checkout']"><i class="fa fa-shopping-cart mr-2"><span *ngIf="cartItem.length !== 0" class="badge badge-danger ml-2">{{cartItem.length}}</span></i>Cart</a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
      </div>
      <div class="main-menu ">
         <nav class="navbar navbar-expand-lg navbar-dark " style="box-shadow:none;">
            <div class="container-fluid">
               <ul class="navbar-nav ">
                  <!-- News -->
                  <li class="nav-item dropdown mega-dropdown">
                     <a class="nav-link dropdown-toggle" id="nav_ayush" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Ayush
                     <span class="sr-only">(current)</span>
                     </a>
                     <div class="dropdown-menu mega-menu v-1 z-depth-1 ayush-min-width white py-2 px-2" aria-labelledby="nav_ayush">
                        <div class="row">
                           <div class="col-md-3 border-right">
                              <a  class="dropdown-item dropdown-parent-nav " href="#">Homeopathy</a>
                              <a  class="dropdown-item  " [routerLink]="['/non-prescriptions', 'Ayush', 'Homeopathy', 'SBL']">SBL</a>
                              <a  class="dropdown-item  " href="#">Dr. Reckeweg</a>
                              <a  class="dropdown-item  " href="#">Dr Willmar Schwabe</a>
                              <a  class="dropdown-item  " href="#">Adel Pekana</a>
                              <a  class="dropdown-item  " href="#">Wheezal</a>
                              <a  class="dropdown-item  " href="#">Homeomart</a>
                           </div>
                           <div class="col-md-3 border-right">
                              <a  class="dropdown-item  " href="#">Boiron</a>
                              <a  class="dropdown-item dropdown-parent-nav  " href="#">Ayurvedic</a>
                              <a  class="dropdown-item  " href="#">Health Products</a>
                              <a  class="dropdown-item  " href="#">Herbs/Classical <br>Medicines</a>
                              <a  class="dropdown-item  " href="#">Speciality Medicines</a>
                              <a  class="dropdown-item  " href="#">Personal Care</a>
                           </div>
                           <div class="col-md-3 border-right">
                              <a  class="dropdown-item dropdown-parent-nav  " href="#">Unani</a>
                              <a  class="dropdown-item  " href="#">Rex</a>
                              <a  class="dropdown-item  " href="#">Hamdard</a>
                           </div>
                           <div class="col-md-3">
                              <a  class="dropdown-item dropdown-parent-nav  " href="#">Top Brands</a>
                              <a  class="dropdown-item  " href="#">Sri Sri Tattva</a>
                              <a  class="dropdown-item  " href="#">Kapiva</a>
                              <a  class="dropdown-item  " href="#">Dabur</a>
                              <a  class="dropdown-item  " href="#">Kerala Ayurveda</a>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li class="nav-item dropdown mega-dropdown">
                     <a class="nav-link dropdown-toggle" id="nav_fitness" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Fitness
                     <span class="sr-only">(current)</span>
                     </a>
                     <div class="dropdown-menu mega-menu v-1 z-depth-1 fitness-min-width white py-2 px-2" aria-labelledby="nav_fitness">
                        <div class="row">
                           <div class="col-md-4 border-right">
                              <a class="dropdown-item dropdown-parent-nav " href="#">Family Nutrition</a>
                              <a  class="dropdown-item  " href="#">Digestives</a>
                              <a  class="dropdown-item  " href="#">General Health</a>
                              <a  class="dropdown-item  " href="#">Health Drinks</a>
                              <a  class="dropdown-item dropdown-parent-nav" href="#">Health Food and<br> Drinks</a>
                              <a  class="dropdown-item " href="#">Drinks</a>
                           </div>
                           <div class="col-md-4 border-right">
                              <a class="dropdown-item" href="#">Herbal/Green Teas</a>
                              <a class="dropdown-item" href="#">Weight Management</a>
                              <a class="dropdown-item dropdown-parent-nav" href="#">Health Supplements</a>
                              <a class="dropdown-item" href="#">Herbal Supplements</a>
                              <a class="dropdown-item" href="#">Sport Supplements</a>
                              <a class="dropdown-item" href="#">Vitamins and Minerals</a>
                           </div>
                           <div class="col-md-4">
                              <a  class="dropdown-item dropdown-parent-nav  " href="#">Top Brands</a>
                              <a  class="dropdown-item  " href="#">Healthvit</a>
                              <a  class="dropdown-item  " href="#">Hexagon</a>
                              <a  class="dropdown-item  " href="#">Manna</a>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li class="nav-item dropdown mega-dropdown">
                     <a class="nav-link dropdown-toggle" id="personal_care" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Personal Care
                     <span class="sr-only">(current)</span>
                     </a>
                     <div class="dropdown-menu mega-menu v-1 z-depth-1 personal_care-min-width white py-2 px-2" aria-labelledby="personal_care">
                        <div class="row">
                           <div class="col-md-3 border-right">
                              <a  class="dropdown-item dropdown-parent-nav " href="#">Body Care</a>
                              <a  class="dropdown-item  " href="#">Creams/Oils/Lotions</a>
                              <a  class="dropdown-item  " href="#">Hair Removers</a>
                              <a  class="dropdown-item " href="#">Powders</a>
                              <a  class="dropdown-item " href="#">Bath Soaps/Gels</a>
                              <a  class="dropdown-item dropdown-parent-nav" href="#">Eye Care</a>
                              <a  class="dropdown-item dropdown-parent-nav" href="#">Face Care</a>
                              <a  class="dropdown-item " href="#">Face Creams</a>
                              <a  class="dropdown-item " href="#">Face Scrubs/Exfoliators</a>
                              <a  class="dropdown-item " href="#">Face Washes</a>
                           </div>
                           <div class="col-md-3 border-right">
                              <a  class="dropdown-item dropdown-parent-nav" href="#">Fragrances</a>
                              <a  class="dropdown-item " href="#">Sprays/Perfumes</a>
                              <a  class="dropdown-item dropdown-parent-nav" href="#">Hair Care</a>
                              <a  class="dropdown-item " href="#">Hair Colours</a>
                              <a  class="dropdown-item " href="#">Hair Creams and Gels</a>
                              <a  class="dropdown-item  " href="#">Hair Oils</a>
                              <a  class="dropdown-item  " href="#">Hair Serums</a>
                              <a  class="dropdown-item  " href="#">Hair Treatment</a>
                              <a  class="dropdown-item  " href="#">Shampoos and<br>Conditioners</a>
                           </div>
                           <div class="col-md-3 border-right">
                              <a  class="dropdown-item dropdown-parent-nav  " href="#">Hands and Feet</a>
                              <a  class="dropdown-item " href="#">Hand Washes/Sanitizers</a>
                              <a  class="dropdown-item dropdown-parent-nav" href="#">Lip Care</a>
                              <a  class="dropdown-item dropdown-parent-nav" href="#">Oral Care</a>
                              <a  class="dropdown-item dropdown-parent-nav" href="#">Tooth Pastes/Powders</a>
                              <a  class="dropdown-item dropdown-parent-nav" href="#">Mouth Wash/Fresheners</a>
                              <a  class="dropdown-item dropdown-parent-nav" href="#">Brushes/Floss/Tongue<br>Cleaners</a>
                           </div>
                           <div class="col-md-3">
                              <a  class="dropdown-item dropdown-parent-nav  " href="#">Skin Care</a>
                              <a  class="dropdown-item  " href="#">Anti Ageing/Wrinkle<br>Treatment</a>
                              <a  class="dropdown-item  " href="#">Skin Treatment</a>
                              <a  class="dropdown-item  " href="#">Sunscreen Lotion/<br>Night creams</a>
                              <a  class="dropdown-item dropdown-parent-nav" href="#">Top Brands</a>
                              <a  class="dropdown-item " href="#">OLAY</a>
                              <a  class="dropdown-item " href="#">Nivea</a>
                              <a  class="dropdown-item " href="#">St'Dvence</a>
                              <a  class="dropdown-item " href="#">VLCC</a>
                              <a  class="dropdown-item " href="#">Lotus Herbals</a>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li class="nav-item dropdown mega-dropdown">
                     <a class="nav-link dropdown-toggle" id="nav_fitness" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Family Care
                     <span class="sr-only">(current)</span>
                     </a>
                     <div class="dropdown-menu mega-menu v-1 z-depth-1 Family_care-min-width white py-2 px-2" aria-labelledby="nav_fitness">
                        <div class="row">
                           <div class="col-md-6 border-right">
                              <a class="dropdown-item dropdown-parent-nav " href="#">Baby and Infant</a>
                              <a  class="dropdown-item  " href="#">Accessories</a>
                              <a  class="dropdown-item  " href="#">Baby's Personal Care</a>
                              <a  class="dropdown-item  " href="#">Diapers</a>
                              <a  class="dropdown-item" href="#">Baby and Infant<br> Supplements</a>
                              <a  class="dropdown-item dropdown-parent-nav" href="#">Men's Care</a>
                              <a class="dropdown-item" href="#">Shaving Creams/Gels/<br>Lotions</a>
                              <a class="dropdown-item dropdown-parent-nav" href="#">Senior Care</a>
                              <a class="dropdown-item " href="#">Adult Diapers and Pads</a>
                           </div>
                           <div class="col-md-6">
                              <a class="dropdown-item dropdown-parent-nav" href="#">Women's Care</a>
                              <a class="dropdown-item " href="#">Menstrual Hygiene</a>
                              
                              <a class="dropdown-item" href="#">Parenting</a>
                              <a class="dropdown-item" href="#">General Hygiene</a>
                              <a class="dropdown-item dropdown-parent-nav" href="#">Top Brands</a>
                           
                              <a  class="dropdown-item dropdown-parent-nav  " href="#">Pigeon</a>
                              <a  class="dropdown-item  " href="#">Mothercare UK </a>
                              <a  class="dropdown-item  " href="#">Mamaearth </a>
                              <a  class="dropdown-item  " href="#">Chicco Bebe Nature</a>
                              <a  class="dropdown-item  " href="#">Bebe Nature</a>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li class="nav-item dropdown mega-dropdown">
                     <a class="nav-link dropdown-toggle" id="nav_fitness" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Lifestyle
                     <span class="sr-only">(current)</span>
                     </a>
                     <div class="dropdown-menu mega-menu v-1 z-depth-1 fitness-min-width white py-2 px-2" aria-labelledby="nav_fitness">
                        <div class="row">
                           <div class="col-md-4 border-right">
                              <a class="dropdown-item dropdown-parent-nav " href="#">Home Care</a>
                              <a  class="dropdown-item  " href="#">Home Fragrance</a>
                              <a  class="dropdown-item  " href="#">Insect Control</a>
                              <a  class="dropdown-item dropdown-parent-nav " href="#">Sexual Wellness</a>
                              <a  class="dropdown-item dropdown-parent-nav" href="#">Health Food and<br> Drinks</a>
                              <a  class="dropdown-item " href="#">Drinks</a>
                           </div>
                           <div class="col-md-4 border-right">
                              <a class="dropdown-item" href="#">Herbal/Green Teas</a>
                              <a class="dropdown-item" href="#">Weight Management</a>
                              <a class="dropdown-item dropdown-parent-nav" href="#">Health Supplements</a>
                              <a class="dropdown-item" href="#">Herbal Supplements</a>
                              <a class="dropdown-item" href="#">Sport Supplements</a>
                              <a class="dropdown-item" href="#">Vitamins and Minerals</a>
                           </div>
                           <div class="col-md-4">
                              <a  class="dropdown-item dropdown-parent-nav  " href="#">Top Brands</a>
                              <a  class="dropdown-item  " href="#">Healthvit</a>
                              <a  class="dropdown-item  " href="#">Hexagon</a>
                              <a  class="dropdown-item  " href="#">Manna</a>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li class="nav-item dropdown mega-dropdown">
                     <a class="nav-link dropdown-toggle" id="nav_fitness" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Devices
                     <span class="sr-only">(current)</span>
                     </a>
                     <div class="dropdown-menu mega-menu v-1 z-depth-1 fitness-min-width white py-2 px-2" aria-labelledby="nav_fitness">
                        <div class="row">
                           <div class="col-md-4 border-right">
                              <a class="dropdown-item dropdown-parent-nav " href="#">Orthopaedics</a>
                              <a class="dropdown-item dropdown-parent-nav " href="#">Breathe Easy</a>
                              <a class="dropdown-item dropdown-parent-nav " href="#">Measurements</a>
                           </div>
                           <div class="col-md-4 border-right">
                              <a class="dropdown-item dropdown-parent-nav " href="#">sugical accessories</a>
                              <a class="dropdown-item dropdown-parent-nav " href="#">Top brands</a>
                           </div>
                           <div class="col-md-4">
                                 <a class="dropdown-item dropdown-parent-nav " href="#">Usual symptoms</a>
                                 <a class="dropdown-item" href="#">Ankle/foot supports</a>
                                 <a class="dropdown-item" href="#">indigestion/Acidity</a>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </nav>
      </div>
   </header>