<footer class="page-footer font-small unique-color-dark pt-4 " >
   <div class="container-fluid mx-5 text-center footer-a-link text-md-left pb-4">
      <div class="row">
         <div class="col-md-9">
            <div class="row">
               <div class="col-md-3 mx-auto">
                  <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Get to Know Us</h6>
                  <ul class="list-unstyled">
                     <li>
                        <a href="#!">Contact Us</a>
                     </li>
                     <li>
                        <a href="#!">About Us</a>
                     </li>
                     <li>
                        <a href="#!">Our Stories</a>
                     </li>
                     <li>
                        <a href="#!">Very long link 4</a>
                     </li>
                  </ul>
               </div>
               <hr class="clearfix w-100 d-md-none">
               <div class="col-md-2 mx-auto">
                  <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Policy</h6>
                  <ul class="list-unstyled">
                     <li>
                        <a href="#!"> Return Policy</a>
                     </li>
                     <li>
                        <a href="#!">Terms Of Use</a>
                     </li>
                     <li>
                        <a href="#!">Security</a>
                     </li>
                     <li>
                        <a href="#!">Privacy</a>
                     </li>
                     <li>
                        <a href="#!"> Sitemap</a>
                     </li>
                  </ul>
               </div>
               <hr class="clearfix w-100 d-md-none">
               <div class="col-md-2 mx-auto">
                  <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Help</h6>
                  <ul class="list-unstyled">
                     <li>
                        <a href="#!">Payments</a>
                     </li>
                     <li>
                        <a href="#!">Shipping</a>
                     </li>
                     <li>
                        <a href="#!">Cancellation & Return</a>
                     </li>
                     <li>
                        <a href="#!">FAQs</a>
                     </li>
                  </ul>
               </div>
               <hr class="clearfix w-100 d-md-none">
               <div class="col-md-4 mx-auto desktop-border-right">
                  <h6 class="font-weight-bold text-uppercase mt-3 mb-4 ml-5">STAY IN TOUCH</h6>
                  <ul class="list-unstyled footer_social-icon">
                     <li>
                        <a  class="btn twt-btn social-btn-size-sm social-btn waves-effect waves-light"><i class="fab fa-twitter"></i></a>
                     </li>
                     <li>
                        <a class="btn fb-btn social-btn-size-sm social-btn waves-effect waves-light"><i class="fab fa-facebook-f"></i></a>
                     </li>
                     <li>
                        <a class="btn whatsapp-btn social-btn-size-sm social-btn waves-effect waves-light"><i  class="fab fa-whatsapp"></i></a>
                     </li>
                     <li>
                        <a class="btn insta-btn social-btn-size-sm social-btn waves-effect waves-light" ><i class="fab fa-instagram"></i></a>
                     </li>
                  </ul>
               <hr class="clearfix w-100 d-md-none">
            </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="row">
               <div class="col-md-12 mx-auto ">
                  <!-- Links -->
                  <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Medicofast</h5>
                  <ul class="list-unstyled">
                     <li>
                        <a href="#!">Link 1</a>
                     </li>
                     <li>
                        <a href="#!">Link 2</a>
                     </li>
                     <li>
                        <a href="#!">Link 3</a>
                     </li>
                     <li>
                        <a href="#!">Link 4</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Copyright -->
   <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="/"> MedicoFast</a>
   </div>
</footer>