<div class="product_checkout py-5">
      <div class="container py-2">
         <div class="row">
            <div class="col-md-8">
               <div class="row checkout-head">
                  <div class="col-md-8">
                     <p>If you have any troubles please contact our support</p>
                  </div>
                  <div class="col-md-4">
                     <p class="float-right"><i class="fas fa-phone rotate-icon-180"></i> +91 1234567891</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-8">
               <div class="card card-mb mt-3 ">
                  <div class="row mb-5">
                     <div class="col">
                        <ul id="progress-bar" class="progressbar">
                           <li class="active">
                              <div class="step-icon"><i class="fa fa-phone"></i></div>
                              <span>Details</span>
                           </li>
                           <li>
                              <div class="step-icon"><i class="fa fa-phone"></i></div>
                              <span>Address</span>
                           </li>
                           <!-- <li>add friends</li> -->
                           <li>
                              <div class="step-icon"><i class="fa fa-phone"></i></div>
                              <span>Confirm</span>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <router-outlet></router-outlet>
               </div>
            </div>
            <div class="col-md-4">
               <div class="card mt-3 py-3">
                  <div class="checkout_prod_box ">
                     <div class="check-order-heading">
                        <span class="upppertext-uppercase font-weight-bold">Your Order</span>
                     </div>
                     <div class="prod-detail-box row">
                        <div class="prod-img col-sm-5 col-md-4">
                           <p class="text-center"><img src="https://cdn.shopify.com/s/files/1/1295/3439/products/Sri_Sri_Tattva_Replenishing_Foot_Cream_60_Ml_0a95a4b6-c848-4a85-8626-301238259a01_1024x1024.jpg?v=1526482844" ></p>
                        </div>
                        <div class="prod-detail col-sm-7 col-md-8">
                           <div class="prod-title">Sri sri tattva Replenishing foot cream 60ml</div>
                           <div class="row-bottom row">
                              <div class="prod-quantity col-sm-6">
                                 <div class="float-left">$4.00</div>
                                 <div class="float-right">x2</div>
                              </div>
                              <div class="prod-total-price col-sm-6">
                                 <span class="float-right font-weight-bold">$8.00</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="prod-detail-box row">
                        <div class="prod-img col-sm-5 col-md-4">
                           <p class="text-center"><img src="https://cdn.shopify.com/s/files/1/1295/3439/products/Sri_Sri_Tattva_Replenishing_Foot_Cream_60_Ml_0a95a4b6-c848-4a85-8626-301238259a01_1024x1024.jpg?v=1526482844" ></p>
                        </div>
                        <div class="prod-detail col-sm-7 col-md-8">
                           <div class="prod-title">Sri sri tattva Replenishing foot cream 60ml</div>
                           <div class="row-bottom row">
                              <div class="prod-quantity col-sm-6">
                                 <div class="float-left">$4.00</div>
                                 <div class="float-right">x2</div>
                              </div>
                              <div class="prod-total-price col-sm-6">
                                 <span class="float-right font-weight-bold">$8.00</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     
                  </div>
                  <div class="border-dashed">
                     <div class="line"></div>
                  </div>
                  <div class="price-section">
                     <div class="row">
                        <div class="col-12 sub-total">
                           <div class="float-left">Subtotal</div>
                           <div class="float-right">$22</div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-12 sub-total">
                           <div class="float-left">Shipping</div>
                           <div class="float-right">Free</div>
                        </div> 
                     </div>
                     <div class="row">
                        <div class="col-12 discount">
                           <div class="float-left">Discount 10%</div>
                           <div class="float-right">$2.20</div>
                        </div>
                     </div>
                     <!-- <div class="row">
                           <div class="col-12 promo-code">
                              <div class="float-left">Have a Promo code?</div>
                              <div class="float-right">$22</div>
                           </div>
                        </div> -->
                     <div class="row">
                        <div class="col-12 total mb-5">
                           <div class="float-left">Total</div>
                           <div class="float-right">$19.80</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>