<div class="edit-address">
  <div class="row">
     <div class="col-md-6">
        <h5 class="ship-addres">Shipping Address :</h5>
        <div class="address-card">
              <div class="edit-icon" routerLink="../" data-toggle="tooltip" title="Edit Address"> <i class="far fa-edit"></i></div>
              <div class="c_name">VISHAL MATHUR</div>
              <p>A-248 DURGA VIHAR, NEW DELHI, DELHI 110062 India</p>


        </div>
     </div>
     
     <div class="col-md-6"></div>
  </div>
  <div class="border-dashed">
        <div class="line"></div>
     </div>
</div>