<div class="login-form">
  <div class="heading">
     <h2>Login</h2>
  </div>
  <div class="form-inner-conatiner">
     <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
     <div class="md-form mb-2">
        <!-- <span class="num">+91</span> -->
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.email.errors }">
        <label data-error="wrong" data-success="right" for="defaultForm-email">Email or phone</label>
        <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
           <div *ngIf="form.email.errors.required">Email or phone is required!</div>
        </div>
     </div>
     <div class="md-form mb-1">
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.password.errors }">
        <label data-error="wrong" data-success="right" for="defaultForm-pass">Password</label>
        <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
          <div *ngIf="form.password.errors.required">Password is required!</div>
       </div>
     </div>
     <div class="text-left forgot-pwd" >
        <a  routerLink="/account/forgot">Forgot password?</a>
     </div>
     <div class="md-form mb-4">
        <button type="submit" class="btn btn-block waves-effect login-btn waves-dark">
        <strong>Login</strong> 
        </button>
        <div data-onsuccess="onSignIn" (click)="googleLogin()" data-theme="dark" class="google-signIn btn btn-block waves-effect  waves-dark"><img src="../../assets/img/google.jpeg" width="30"> <span>Sign in with Google</span></div>
     </div>
     </form>
     <a  class="chng-btn text-center" routerLink="/account/signup">New to MedicoFast? Sign up</a>
  </div>
</div>