<div class="forgot-pswd" >
  <div class="heading">
     <h2>Forgot password</h2>
  </div>
  <div class="form-inner-conatiner">
     <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="md-form mb-1">
        <!-- <span class="num">+91</span> -->
        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.email.errors }">
        <label data-error="wrong" data-success="right" for="defaultForm-email">Email</label>
        <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
            <div *ngIf="form.email.errors.required">Email is required!</div>
            <div *ngIf="form.email.errors.email">Email must be a valid email address!</div>
        </div>
      </div>
      <div class="md-form mb-1">
          <!-- <span class="num">+91</span> -->
          <input type="number" formControlName="otp" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.otp.errors }">
          <label data-error="wrong" data-success="right" for="otp-for-reset">OTP</label>
          <div *ngIf="submitted && form.otp.errors" class="invalid-feedback">
              <div *ngIf="form.otp.errors.required">OTP is required!</div>
          </div>
      </div>
      <div class="md-form mb-1">
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.password.errors }">
          <label data-error="wrong" data-success="right" for="forgot-password">Password</label>
          <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
              <div *ngIf="form.password.errors.required">Password is required!</div>
              <div *ngIf="form.password.errors.minlength">Password must be at least 8 characters!</div>
            </div>
      </div>
      <div class="md-form mb-1">
          <input type="password" formControlName="confirm_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.confirm_password.errors }">
          <label data-error="wrong" data-success="right" for="confirm-password">Confirm</label>
          <div *ngIf="submitted && form.confirm_password.errors" class="invalid-feedback">
              <div *ngIf="form.confirm_password.errors.required">Confirm Password is required!</div>
              <div *ngIf="form.confirm_password.errors.mustMatch">Passwords do not match!</div>
           </div>
      </div>
      <div class="md-form mb-3">
          <button type="submit" class="btn btn-block btn-amber waves-dark">
          <strong>Reset password</strong> 
          </button>
      </div>
     </form>
  </div>
</div>