<div class="account">
<div class="container account-box">
  <div class="row no-gutters">
     <div class="col-lg-5 px-4 pt-5 mx-auto">
       <div class="main-content">
        <router-outlet></router-outlet>
      </div>
     </div>
     <!-- <div class="col-lg-6">
        <div class="login-left">
           <button type="button" class="close md-close-icon" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">×</span>
           </button>
           <div class="m-heading pt-4 text-center">
              <span>MedicoFast</span>
              <p>Login to access to your Orders Detail</p>
           </div>
           <div class="login-left-content text-center">
              <img src="../assets/img/fast1111.png">
           </div>
        </div>
     </div>
   -->
</div>
</div>
</div>